<div class="jumbotron mt-4">
    <h1 class="display-4">About</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum numquam in vel ducimus non! Dignissimos veritatis neque magni perspiciatis, quis facilis similique eveniet quidem harum! Et blanditiis mollitia est. Rem.</p>
</div>
