<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum numquam in vel ducimus non! Dignissimos veritatis neque magni perspiciatis, quis facilis similique eveniet quidem harum! Et blanditiis mollitia est. Rem.</p>
    <hr class="m-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, sequi. Minus quia a labore consectetur odio. Doloribus, autem quod molestiae, tenetur accusamus eveniet quisquam eos distinctio, ipsa iure atque quis.</p>
    <div class="button">
        <a href="https://github.com/Angelge296" class="btn btn-primary btn-lg">My GitHub</a>
    </div>
</div>
